@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: #f0f0f0;
}

canvas {
  border: 1px solid #444;
  margin-top: 20px;
  margin: 15px;
  border-radius: 5px;
}

h1 {
  font-size: 2rem;
  color: var(--foreground);
}

button {
  background-color: #00ff77;
  color: rgb(70, 70, 70);
  border: none;
  padding: 7px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin: 3px;
  border: 1px solid rgb(0, 139, 174);
}

.time {
  display : inline;
  padding: 8px;
  margin: 3px;
  background-color: #00ffea;
  border-radius: 5px;
}

.App {
  margin: 10px;
}

